.containerPage {
    margin-top: 185px;
    margin-bottom: 70px;
    font-family: 'Montserrat', sans-serif;
}
.backgroundFix {
    height: 300px;
    width: 100%;
    background-image: url("../../images/blog/blog5.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.backgroundFix div{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
}
.backgroundFix div h1 {
    color: var(--color-white);
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    width: max-content; 
    letter-spacing: 1px;  
}
.postContainer {
    margin: 80px auto;
    align-items: stretch;
    display: flex;
    justify-content: center;
}
.postContainerBorderTop , .postContainerBorder {
    position: relative;
    z-index: 0;
}
.postContainerBorder {
    border: 1px solid rgb(110, 97, 97);
    padding: 50px;
}
.postContainerBorderTop {
    border-top: 2px solid rgb(233, 213, 213);
}
.logoTop-left, .logoTop-center {
    color: var(--color-black1);
    font-family: 'Italianno', cursive;
    font-size: 35px;
    font-weight: 400;
    line-height: 20px;
    position:absolute;
    top: 0px;
    display: block;
    background-color: white;
    margin: 0px;
    padding: 20px;
    z-index: 3;
    transform: translateY(-50%);
}
.logoTop-left {
    left: 30px;
} 
.logoTop-center {
    margin: 0px auto;
} 
.boxPostImage {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.lastSection {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}
.lastSection div {
    width: 200px;
    margin: 10px;
}
.imageborder {
    border: 2px solid rgb(110, 97, 97);
}
.boxPostImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: brown;
}
.boxPostInfo {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
}
.boxPostInfo div {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 10px;
}
.boxPostInfoLeft {
    min-height: 200px;
    margin-left: -4%;
    border: 2px solid rgb(110, 97, 97);
}
.boxPostInfo div h1,
.boxPostInfo div p,
.logoTop {
    letter-spacing: 1px;
    text-transform: capitalize;
}
.boxPostInfo div h1 {
    color: var(--color-black1);
    font-size: 15px;
    font-weight: 500;
}
.boxPostInfo div p {
    color: var(--color-black1);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}