.paralax {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 1rem;
}
