#cart {
    margin-top: 185px;
    margin-bottom: 70px;
    font-family: 'Montserrat', sans-serif;
}
.cart-container {
  margin-top: 50px;
}
.cart-left-table {
  height: 100%;
}
.cart-left-table-row {
  border-bottom: 1px solid var(--color-grey);
  ;
  position: relative;
}
.cart-left-table-row:hover {
  background-color: var(--color-lightgrey);
}
.cart-left-table-row:hover .removeIcon {
  display: block;
}
.cart-left-table-row-item {
  padding: 10px;
  display: flex;
  align-items: center;
}
.table-item-containerProduct div h2,
.table-item-containerProduct div h5,
.cart-left-table-row-item h2,
.cartTotal-title,
.cartTotalItem h3,
.cartTotalItem h5,
.bottom-creditCard-text,
.cart-isEmpty h1 {
  letter-spacing: .07em;
  margin: 0px;
}
.cart-left-table-row-item h2, .cart-isEmpty h1 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-black1);
}
.cart-isEmpty {
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
}
.table-item-containerProduct, .cart-isEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-item-containerProduct img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.table-item-containerProduct div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.table-item-containerProduct div h3,
.table-item-containerProduct div h5,
.cartTotalItem h3,
.cartTotalItem h5,
.bottom-creditCard-text {
  text-transform: capitalize;
}
.table-item-containerProduct div h3,
.table-item-containerProduct div h5 {
  font-size: 12px;
  margin: 5px 0px;
}
.table-item-containerProduct div h2 {
  font-weight: 500;
  color: var(--color-black1);
}
.table-item-containerProduct div h5 {
  font-weight: 400;
  color: var(--color-black2);
}
.cart-left-table-row-item .card-price {
  display: block;
  padding: 5px 10px;
  border-radius: 25px;
  width: max-content;
  color: var(--color-white);
  font-size: 11px;
}
.price {
  background-color: var(--color-black1);
}
.subtotal {
  background-color: var(--color-brown);
}
.cart-containerBottomButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}
.cart-containerBottomButton button {
  margin: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  letter-spacing: .06em;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  outline: none;
  background-color: transparent;
  color: var(--color-black1);
  border: none;
}
.cart-containerBottomButton button:hover,
.cart-containerBottomButton button:hover .arrow-icon{
  color: var(--color-brown);
}
.cart-containerBottomButton button .arrow-icon {
  font-size: 24px;
  color: var(--color-black1);
  transition: all 0.3s ease;
}
.right-icon {
  margin-left: 5px;
}
.left-icon {
  transform: rotate(180deg);
  margin-right: 5px;
}
.cartTotal-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 7px 30px -10px rgba(72, 86, 94, 0.5);
}
.cartTotal-title {
  position: absolute;
  display: block;
  border-radius: 25px;
  padding: 20px;
  transform: translateY(-50%);
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  width: max-content;
  background-color: var(--color-black1);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-white);
}
.cartTotalItem {
  margin-top: 40px;
  width: 100%;
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-lightgrey1);
}
.cartTotalItem h3,
.bottom-creditCard-text {
  font-size: 15px;
  font-weight: 700;
  color: var(--color-black1);
}
.cartTotalItem h5 {
  font-size: 13px;
  font-weight: 500;
  color: var(--color-grey);
}
.cart-creditCardContainer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.cart-creditCardContainer img {
  height: auto;
  margin-right: 10px;
}

@media only screen and (max-width: 960px) {
  .cartTotal-container {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 780px) {
    #cart {
      margin-top: 130px;
    }
}
@media only screen and (max-width: 599px) {
  .cart-left-table-row-item {
    justify-content: center;
  }
  .table-item-containerProduct {
    flex-direction: column;
  }
  .table-item-containerProduct div {
    align-items: center;
  }
  .cart-containerBottomButton {
    flex-direction: column;
  }
  .cart-containerBottomButton {
    padding: 20px 0px;
  }
}
@media only screen and (max-width: 320px) {
  .cart-containerBottomButton button {
    font-size: 9px;
  }
  .arrow-icon {
    font-size: 16px;
  }
}
