:root {
  --color-lightgrey: #f4f4f4;
  --color-lightgrey1: rgb(231, 231, 231);
  --color-grey: #777;
  --color-grey2: #999;
  --color-white: #ffffff;
  --color-black0: #000000;
  --color-black1: #222529;
  --color-black2: #343a40;
  --color-brown: #9d8d6c;
  --color-red: rgb(221, 13, 13);
}
.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
  text-decoration: none;
  list-style: none;
}
.container {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
  padding: 0px 0%;
  min-height: calc(100vh - 200px);
} 
